.main{
    display: grid;
  grid-template-areas:
    'navbar navbar navbar navbar navbar navbar'
    'sidemenu currency currency currency currency currency'
    'footer footer footer footer footer footer';
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  width: 98%;
}
.navbar{
    grid-area: navbar;
  }
  
  .sidemenu{
    grid-area : sidemenu;
    height: 600px;
  }
  
  .currency{
    grid-area : currency;
    background-color: aliceblue;
    outline: 1px solid grey !important;
    border-radius: 6px;
  }
  
  .footer{
    grid-area : footer
  }